@font-face {
    font-family: 'fff_tusjbold';
    src: url('../fonts/fff_tusj-webfont.eot');
    src: url('../fonts/fff_tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fff_tusj-webfont.woff2') format('woff2'),
         url('../fonts/fff_tusj-webfont.woff') format('woff'),
         url('../fonts/fff_tusj-webfont.ttf') format('truetype'),
         url('../fonts/fff_tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body, p {
	color: #FFF;
}

h1, .pageheader {
	font-size: 3em;
}

a:link {
	color: #FFF;
}

a:visited, a:hover {
	color: #ccc;
}

legend, h1, h2, h3, h4, h5, h6 {
	font-family: 'fff_tusjbold';
	color: #FFF;
}

div.page-header h2 {
	font-size: 42px;
}

.btn {
	margin-bottom: 1em;
}

body {
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
	color: #555;
}

.popover, .popover-title {
	color: #000;
	background-color: #CCC;
}

.popover-title {
	font-size: 24px;
}

.popover.right .arrow:after {
  border-right-color: #CCC;
}



/* .glyphicon {
	position: static;
} */

.jumboFrontPage {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

img.foreground_image {
	-webkit-filter: drop-shadow(1px 1px 2px #999);
	filter: drop-shadow(1px 1px 2px #999);
}

.showcase, .showcase .jumboFrontPage {
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	z-index: 100000;
	margin-bottom: 0;
}

.nav-wrapper {
	height: 50px;
}


.navbar-brand {
	padding-top: 0px;
}

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: static;
} */

.affix {
	position: top;
	top: 0;
	width: 100%;
	z-index: 100000;
  }

/* body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
} */
/*#bootstrap_li_menu_item_109:before {
	content:'/f107';
}*/

#login-form {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
	border:1px solid #ccc;
	padding:2em;
	margin:0px 0px 10px 0px;
}

.login-greeting {
	margin-bottom: 1em;
}

.form-validate.well, .form-horizontal.well {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
	border:1px solid #ccc;
	padding:2em;
	margin:56px 0px 10px 0px;	
}

.content {
	border-top: 10px solid #FFF;
}

.content, .lowercontent, .midcontent {
	margin-top:2em;
	padding-top: 2em;
}

.spotlights {
	margin-top: 2em;
	margin-bottom: 2em;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.bottom {
	margin-bottom: 2em;
}

.footer {
	padding-top: 2em;
    border-top: 10px solid #FFF;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.footer1, .footer2 {
	text-align: center;
}

.footer2 {
	padding-bottom: 2em;
}
/*.affix + .container {
	padding-top: 50px;
} */

/* .affix + .container-fluid {
      padding-top: 70px;
  } */