@font-face {
    font-family: 'fff_tusjbold';
    src: url('../fonts/fff_tusj-webfont.eot');
    src: url('../fonts/fff_tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fff_tusj-webfont.woff2') format('woff2'),
         url('../fonts/fff_tusj-webfont.woff') format('woff'),
         url('../fonts/fff_tusj-webfont.ttf') format('truetype'),
         url('../fonts/fff_tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body:before {
	content: url(../img/background.jpg);
	display: none;
}

body, p {
	color: #FFF;
}

h1, .pageheader {
	font-size: 3em;
}

a:link {
	color: #FFF;
}

a:visited, a:hover {
	color: #ccc;
}

legend, h1, h2, h3, h4, h5, h6 {
	font-family: 'fff_tusjbold';
	color: #FFF;
}

div.page-header h2 {
	font-size: 42px;
}

.btn {
	margin-bottom: 1em;
}

body {
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
	color: #555;
}

.popover, .popover-title {
	color: #000;
	background-color: #CCC;
}

.popover-title {
	font-size: 24px;
}

.popover.right .arrow:after {
  border-right-color: #CCC;
}

.jumboFrontPage {
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 414px;
}

img.foreground_image {
	-webkit-filter: drop-shadow(3px 3px 3px #999);
	filter: drop-shadow(3px 3px 3px #999);
}

.showcase, .showcase .jumboFrontPage {
	height:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	z-index: 100000;
	margin-bottom: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #555;
}

.dropdown-menu, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #f9f9f9;
    text-decoration: none;
    background-color: #555;
}

/*@media screen and (max-width: 767) {
	.dropdown-menu {
 	color: #f9f9f9;
	background-color: #555;
 	}

 	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #f9f9f9;
    text-decoration: none;
    background-color: #555;
	}
} */

.nav-wrapper {
	height: 50px;
	background-color: #333333;
}



.navbar-brand {
	padding-top: 0px;
}

.affix {
	position: top;
	top: 0;
	width: 100%;
	z-index: 100000;
  }

#login-form {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
	border:1px solid #ccc;
	padding:2em;
	margin:0px 0px 10px 0px;
}

.login-greeting {
	margin-bottom: 1em;
}

.form-validate.well, .form-horizontal.well {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
	border:1px solid #ccc;
	padding:2em;
	margin:56px 0px 10px 0px;	
}

.content {
	border-top: 10px solid #FFF;
}

.content, .lowercontent, .midcontent {
	margin-top:2em;
	padding-top: 2em;
}

.spotlights {
	margin-top: 2em;
	margin-bottom: 2em;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.bottom {
	margin-bottom: 2em;
}

.footer {
	padding-top: 2em;
    border-top: 10px solid #FFF;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.footer1, .footer2 {
	text-align: center;
}

.footer2 {
	padding-bottom: 2em;
}
/*.affix + .container {
	padding-top: 50px;
} */

/* .affix + .container-fluid {
      padding-top: 70px;
  } */